<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "API 키",
    authDomain: "app-38e49.firebaseapp.com",
    databaseURL: "https://app-38e49.firebaseio.com",
    projectId: "app-38e49",
    storageBucket: "app-38e49.appspot.com",
    messagingSenderId: "1026961820392",
    appId: "1:1026961820392:web:76016b92a90ae73fa1175d",
    measurementId: "G-6JV4MHVST0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

</body>
</html>